/*!
 * Start Bootstrap - Bare v ()
 */
@keyframes easeUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes easeDown {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

[data-aos="worksFade"].aos-animate {
  animation: 0.15s ease-out 0s 1 easeUp forwards; }

[data-aos="worksFade1"].aos-animate {
  animation: 0.15s ease-out 0.25s 1 easeUp forwards; }

[data-aos="worksFade2"].aos-animate {
  animation: 0.15s ease-out 0.5s 1 easeUp forwards; }

[data-aos="worksFade3"].aos-animate {
  animation: 0.15s ease-out 0.75s 1 easeUp forwards; }

a:link {
  color: blue;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

a:visited {
  color: blue;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

a:hover {
  color: blue;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

a.active {
  color: blue;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

body {
  margin: 0;
  padding: 0; }
  body .container-fluid {
    padding: 0; }
  body section.nav {
    padding: 30px;
    font-family: "Inconsolata", serif;
    font-size: 14px;
    display: flex;
    justify-content: center; }
    body section.nav .nav-items {
      width: 100%;
      align-items: center; }
      body section.nav .nav-items .link {
        margin-left: 0;
        padding-left: 0; }
        body section.nav .nav-items .link .nav-icon span {
          -webkit-transition: all 0.15s ease-in-out;
          -moz-transition: all 0.15s ease-in-out;
          -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out; }
          body section.nav .nav-items .link .nav-icon span.back {
            margin-left: 50px; }
        body section.nav .nav-items .link .nav-icon:hover span {
          margin-left: 50px;
          -webkit-transition: all 0.15s ease-in-out;
          -moz-transition: all 0.15s ease-in-out;
          -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out; }
          body section.nav .nav-items .link .nav-icon:hover span.back {
            margin-left: 0; }
      body section.nav .nav-items .contact {
        text-align: right;
        margin-right: 0;
        padding-right: 0; }
        @media (max-width: 992px) {
          body section.nav .nav-items .contact {
            text-align: left;
            padding-left: 0; } }
  body section.hero-section {
    padding: 30px;
    height: 60vh;
    display: flex;
    font-family: "IBM Plex Sans", serif; }
    body section.hero-section .hero-text {
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%; }
      body section.hero-section .hero-text .intro-text {
        font-size: 34px;
        line-height: 51px;
        margin-bottom: 30px; }
        body section.hero-section .hero-text .intro-text .intro {
          opacity: 0;
          -webkit-transition: all 0.15s ease-in-out;
          -moz-transition: all 0.15s ease-in-out;
          -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out; }
      body section.hero-section .hero-text .intro-small-text {
        font-size: 14px;
        line-height: 24.5px;
        font-family: "Inconsolata", serif; }
  body section.project-section {
    font-family: "Inconsolata", serif; }
    body section.project-section .project-item {
      padding: 30px 30px 0 30px;
      border-top: 1px solid #dddddd; }
      body section.project-section .project-item.project-item-index {
        padding: 30px;
        padding-right: 40px; }
      body section.project-section .project-item .project-header {
        margin-bottom: 30px;
        font-size: 14px; }
        body section.project-section .project-item .project-header .project-title {
          font-weight: 800; }
        body section.project-section .project-item .project-header .project-type {
          color: #bbbbba; }
        body section.project-section .project-item .project-header .project-year {
          text-align: right;
          color: #bbbbba; }
          @media (max-width: 992px) {
            body section.project-section .project-item .project-header .project-year {
              text-align: left; } }
    body section.project-section .project-body .project-summary {
      font-family: "IBM Plex Sans", serif;
      font-size: 14px;
      line-height: 24.5px;
      margin-bottom: 30px; }
      body section.project-section .project-body .project-summary a.project-link {
        font-family: "Inconsolata", serif;
        font-size: 14px; }
        body section.project-section .project-body .project-summary a.project-link span {
          -webkit-transition: all 0.15s ease-in-out;
          -moz-transition: all 0.15s ease-in-out;
          -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out; }
        body section.project-section .project-body .project-summary a.project-link:hover span {
          margin-left: 50px;
          -webkit-transition: all 0.15s ease-in-out;
          -moz-transition: all 0.15s ease-in-out;
          -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out; }
    body section.project-section .project-body .project-image {
      overflow: hidden;
      padding: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center; }
      body section.project-section .project-body .project-image .matte {
        background: #bbbbba; }
        body section.project-section .project-body .project-image .matte img {
          width: 100%;
          opacity: .9; }
          body section.project-section .project-body .project-image .matte img.img-essay {
            padding: 150px;
            -webkit-transform: rotate(2deg); }
            @media (max-width: 768px) {
              body section.project-section .project-body .project-image .matte img.img-essay {
                padding: 20px; } }
    body section.project-section .reference {
      padding: 10px 0; }
      body section.project-section .reference a {
        font-size: 14px;
        color: #bbbbba; }
    body section.project-section .project-body-hero {
      margin-top: 30px;
      padding: 0;
      overflow: hidden;
      border-top: 1px solid #dddddd; }
      body section.project-section .project-body-hero .fullwidth-image {
        padding: 0;
        width: 100vw;
        background: #bbbbba; }
        body section.project-section .project-body-hero .fullwidth-image img {
          width: 100% !important;
          opacity: .9; }
    body section.project-section .project-body-carousel {
      width: 100vw;
      position: relative; }
      body section.project-section .project-body-carousel .carousel-control {
        width: 50vw;
        height: 100%;
        position: absolute;
        z-index: 100; }
        @media (max-width: 768px) {
          body section.project-section .project-body-carousel .carousel-control {
            height: 0; } }
        body section.project-section .project-body-carousel .carousel-control.prev {
          left: 0; }
          body section.project-section .project-body-carousel .carousel-control.prev:hover {
            cursor: url("../assets/icons/prev.png"), auto; }
        body section.project-section .project-body-carousel .carousel-control.next {
          right: 0; }
          body section.project-section .project-body-carousel .carousel-control.next:hover {
            cursor: url("../assets/icons/next.png"), auto; }
      body section.project-section .project-body-carousel .the-carousel, body section.project-section .project-body-carousel .the-carousel-captions {
        background: #f5f5f5;
        padding: 50px 0 50px 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; }
        body section.project-section .project-body-carousel .the-carousel.essay-carousel .essay-page img, body section.project-section .project-body-carousel .the-carousel-captions.essay-carousel .essay-page img {
          max-width: 60vw;
          max-height: 80vh; }
        body section.project-section .project-body-carousel .the-carousel .slick-slide, body section.project-section .project-body-carousel .the-carousel-captions .slick-slide {
          position: relative; }
        body section.project-section .project-body-carousel .the-carousel .essay-page, body section.project-section .project-body-carousel .the-carousel .essay-page-captions, body section.project-section .project-body-carousel .the-carousel-captions .essay-page, body section.project-section .project-body-carousel .the-carousel-captions .essay-page-captions {
          display: flex;
          justify-content: center;
          width: 100vw; }
          body section.project-section .project-body-carousel .the-carousel .essay-page img, body section.project-section .project-body-carousel .the-carousel .essay-page-captions img, body section.project-section .project-body-carousel .the-carousel-captions .essay-page img, body section.project-section .project-body-carousel .the-carousel-captions .essay-page-captions img {
            max-width: 60vw;
            max-height: 50vh;
            opacity: .9;
            flex: 0 0 auto;
            /* IE */
            object-fit: scale-down;
            /* FF */ }
            @media (max-width: 768px) {
              body section.project-section .project-body-carousel .the-carousel .essay-page img, body section.project-section .project-body-carousel .the-carousel .essay-page-captions img, body section.project-section .project-body-carousel .the-carousel-captions .essay-page img, body section.project-section .project-body-carousel .the-carousel-captions .essay-page-captions img {
                max-width: 65vw; } }
      @media (max-width: 768px) {
        body section.project-section .project-body-carousel .the-carousel .slick-track {
          height: 30vh; } }
      body section.project-section .project-body-carousel .the-carousel-captions {
        padding: 0 0 50px 0 !important;
        font-size: 14px;
        text-align: center; }
        body section.project-section .project-body-carousel .the-carousel-captions.no-height {
          height: 0 !important;
          padding: 0 !important; }
        body section.project-section .project-body-carousel .the-carousel-captions .essay-page-captions {
          padding: 0 !important; }
    body section.project-section .project-body-statement {
      margin: 150px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "IBM Plex Sans", serif;
      font-size: 18px;
      line-height: 31.5px; }
      @media (max-width: 768px) {
        body section.project-section .project-body-statement {
          margin-top: 30px 0 0 0; } }
      body section.project-section .project-body-statement h3 {
        margin-bottom: 63px;
        text-align: center;
        font-size: 51px;
        line-height: 76.5px; }
        @media (max-width: 768px) {
          body section.project-section .project-body-statement h3 {
            font-size: 34px;
            line-height: 51px; } }
      body section.project-section .project-body-statement p {
        margin-bottom: 63px; }
        body section.project-section .project-body-statement p:last-child {
          margin-bottom: 0; }
      body section.project-section .project-body-statement.section-mg {
        margin-bottom: 100px; }
    body section.project-section .project-body-segment {
      margin: 0 0 30px 0;
      padding: 0;
      display: flex;
      justify-content: center;
      width: 100%; }
      body section.project-section .project-body-segment .segment-image {
        background: #bbbbba;
        padding: 0;
        margin: 0 0 100px 0; }
        body section.project-section .project-body-segment .segment-image img {
          opacity: .9;
          width: 100%; }
        body section.project-section .project-body-segment .segment-image.no-bg {
          background: none; }
          body section.project-section .project-body-segment .segment-image.no-bg img {
            opacity: 1; }
        body section.project-section .project-body-segment .segment-image.light-bg {
          background: #f5f5f5; }
          body section.project-section .project-body-segment .segment-image.light-bg img {
            opacity: .9; }
      body section.project-section .project-body-segment .segment-video {
        background: none;
        text-align: center; }
        body section.project-section .project-body-segment .segment-video iframe {
          width: 100%; }
          @media (max-width: 768px) {
            body section.project-section .project-body-segment .segment-video iframe {
              height: auto; } }
      body section.project-section .project-body-segment.no-mg {
        margin: 0 0;
        padding: 0; }
    body section.project-section .project-body-longImage .long-image-container {
      padding: 0;
      background: #bbbbba;
      width: 100vw;
      overflow-x: scroll;
      margin: 0;
      margin-top: 30px; }
      body section.project-section .project-body-longImage .long-image-container::-webkit-scrollbar {
        height: 10px;
        background-color: #dddddd; }
      body section.project-section .project-body-longImage .long-image-container::-webkit-scrollbar-thumb {
        background: #00000a; }
      body section.project-section .project-body-longImage .long-image-container img {
        height: 80vh;
        opacity: 0.9; }
  body .next-project {
    font-family: "Inconsolata", serif;
    font-size: 14px; }
    body .next-project .next-project-nav {
      border-top: 1px solid #dddddd;
      margin: 0;
      padding: 30px; }
      body .next-project .next-project-nav .link .nav-icon span {
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; }
        body .next-project .next-project-nav .link .nav-icon span.back {
          margin-left: 50px; }
      body .next-project .next-project-nav .link .nav-icon:hover span {
        margin-left: 50px;
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; }
        body .next-project .next-project-nav .link .nav-icon:hover span.back {
          margin-left: 0; }
      body .next-project .next-project-nav .contact {
        text-align: right; }
        @media (max-width: 992px) {
          body .next-project .next-project-nav .contact {
            text-align: left; } }
    body .next-project .next-project-link {
      display: inline-block;
      width: 100vw;
      color: #ffffff;
      background: blue;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      body .next-project .next-project-link:hover {
        background: #f5f5f5;
        color: #00000a;
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; }
    body .next-project .next-project-container {
      border-top: 1px solid #dddddd;
      margin: 0;
      padding: 30px;
      font-size: 14px; }
      body .next-project .next-project-container .project-title {
        font-weight: 800; }
      body .next-project .next-project-container .project-type {
        color: #bbbbba; }
      body .next-project .next-project-container .project-year {
        text-align: right;
        color: #bbbbba; }
        @media (max-width: 992px) {
          body .next-project .next-project-container .project-year {
            text-align: left; } }
  body .project-page .project-header {
    margin-bottom: 0 !important; }
