@import "variables.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";

body {
  margin: 0; padding: 0;
  .container-fluid {
    padding: 0;
  }
  section.nav {
    padding: $buffer*3;
    font-family: $secondaryFontFamily;
    font-size: $smallFontSize;
    display: flex;
    .nav-items {
      width: 100%;
      align-items: center;
      .link {
        .nav-icon {
          span {
            @include transition;
            &.back {
              margin-left: $buffer*5;
            }
          }
          &:hover {
            span {
              margin-left: $buffer*5;
              @include transition;
              &.back {
                margin-left: 0;
              }
            }
          }
        }
      }
      .contact {
        text-align: right;
        @include breakpoint(md) {
          text-align: left;
        }
      }
    }
  }
  section.hero-section {
    padding: $buffer*10 $buffer*3;
    height: 80vh;
    display: flex;
    font-family: $primaryFontFamily;
    .hero-text {
      align-items: center;
      justify-content: center;
      width: 100%;
      .intro-text {
        font-size: $largeFontSize;
        line-height: $largeLineHeight;
        span {
          // color: blue;
        }
        .intro {
          opacity: 0;
          @include transition;
        }
      }
    }
  }
  section.project-section {
    font-family: $secondaryFontFamily;
    .project-item {
      padding: $buffer*3;
      border-top: 1px solid $fontColorPrimary;
      .project-header {
        margin-bottom: $buffer*3;
        font-size: $smallFontSize;
        .project-title {}
        .project-type {
          color: $fontColorSecondary;
        }
        .project-year {
          text-align: right;
          color: $fontColorSecondary;
          @include breakpoint(md) {
            text-align: left;
          }
        }
      }
    }
    .project-body {
      .project-summary {
        font-family: $primaryFontFamily;
        font-size: $mediumFontSize;
        line-height: $mediumLineHeight;
        margin-bottom: $buffer*3;
        a.project-link {
          font-family: $secondaryFontFamily;
          font-size: $smallFontSize;
          span {
            @include transition;
          }
          &:hover {
            span {
              margin-left: $buffer*5;
              @include transition;
            }
          }
        }
      }
      .project-image {
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    //PROJECT PAGES

    .project-body-hero {
      margin-top: $buffer*3;
      padding: 0;
      overflow: hidden;
      border-top: 1px solid black;
      .fullwidth-image {
        padding: 0;
        background: #bbb;
        img {
          width: 100%;
          opacity: .9;
        }
      }
    }
    .essay {

    }
    .project-body-carousel {
      // margin: $buffer*3;
      height: 60vh;
      width: 100vw;
      // background: $fontColorPrimary;
      // overflow: hidden;
      .carousel-control {
        width: 50vw;
        height: 60vh;
        position: absolute;
        z-index: 100;
        // background: blue;
        // opacity: .7;
        &.prev {
          left: 0;
          &:hover {
            cursor: url('../assets/icons/prev.png'), auto;
          }
        }
        &.next {
          right: 0;
          &:hover {
            cursor: url('../assets/icons/next.png'), auto;
          }
        }
      }
      .the-carousel {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .essay-page {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 50vw;
            // width: 600px;
          }
        }
      }
    } //carousel
    .project-body-statement {
      margin: $buffer*20 0;
      @include breakpoint(sm) {
        margin-top: $buffer*3 0 0 0;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $primaryFontFamily;
      font-size: $mediumFontSize;
      line-height: $mediumLineHeight;
    }

    .project-body-segment {
      margin: $buffer*20 $buffer*3;
      padding: 0;
      display: flex;
      justify-content: center;
      .segment-image {
        background: #ccc;
        padding: 0;
        img {
          opacity: .9;
          width: 100%;
        }
      }
    }

  }

  .project-page {
    .project-header {
      margin-bottom: 0 !important;
    }
  }
}
