$buffer:                      10px;
$linkColor:                   blue;

$fontColorPrimary:            #00000a;
$fontColorSecondary:          #bbbbba;
$fontColorLight:              #ffffff;
$bgColorLight:                #f5f5f5;
$bgColorMedium:               #dddddd;
$bgColorDark:                 $fontColorPrimary;

$primaryFontFamily:           'IBM Plex Sans', serif;
$secondaryFontFamily:         'Inconsolata', serif;
$largeFontSize:               34px;
$largeLineHeight:             $largeFontSize*1.5;
$mediumFontSize:              18px;
$mediumLineHeight:            $mediumFontSize*1.75;
$smallFontSize:               14px;
$smallLineHeight:             $smallFontSize*1.75;

$animationDuration:           2s
