$buffer:                      10px;
$linkColor:                   blue;

$fontColorPrimary:            #00000a;
$fontColorSecondary:          #bbbbba;
$fontColorLight:              #ffffff;

$primaryFontFamily:           'IBM Plex Sans', serif;
$secondaryFontFamily:         'Inconsolata', serif;
$largeFontSize:               40px;
$largeLineHeight:             $largeFontSize*1.5;
$mediumFontSize:              20px;
$mediumLineHeight:            $mediumFontSize*1.75;
$smallFontSize:               16px;
$smallLineHeight:             $smallFontSize*1.75;

$animationDuration:           5s
